

    <!-- Navigation -->
    {% extends 'base.html' %}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    {% block body %}
    <header class="intro-header" style="margin-top:50px">
        <div class="container" style="margin: 0px;width:100%">
            <div class="row">
                {% load static %}
                <img src="{% static 'blog/image/Abhishek_Singh.jpg' %}" style="width: 100%;height: 500px">
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Clean Blog</h1>
                        <hr class="small">
                        <span class="subheading">A Clean Blog Theme</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
    {% if entries %}
        {% for entry in entries %}
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href="{% url "detail" entry.id%}">
                        <h2 class="post-title">
                            {{ entry.title }}
                        </h2>
                    </a>
                        <h5 class="post-subtitle">
                            {{ entry.body }}
                        </h5>
                        <img src="{{ entry.logo.url }}" class="img-responsive img-thumbnail" style="width:100%;height: 100%">
                    <p class="post-meta" style="color: red;padding-top: 3%">Posted by {{ entry.author }} on {{ entry.date }}</p>
                </div>
                <hr>
                </div>
        </div>
        {% endfor %}
        {% else %}
        <h2>You Don't have any post</h2>
        {% endif %}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Your Website 2016</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>
{% endblock %}



